/* Navbar */
.Menu{
  border-bottom: brown 1px solid;
}

.Logo{
  width: 12rem;
}

.BarraNav{
  position: relative;
  list-style: none;
  margin-left: 12px;
  display: flex;
  align-items: center;
  height: 60px;
  padding: 0 24px;
  bottom: 140px;
  left: 250px;
 

}

li {
  line-height: none; 
}

a { 
  border-style: none;
  color: brown;
  outline: none;
  text-decoration: none;
  padding: 20px;
  

}

.carritoCompras{
  position: relative;
  left: 1100px; 
  bottom: 200px;
  width: 40px;

  
}