/* Navbar */
.Menu{
  border-bottom: brown 1px solid;
}

.Logo{
  width: 12rem;
}

.BarraNav{
  position: relative;
  list-style: none;
  display: flex;
  align-items: center;
  bottom: 100px;
  left: 250px;
 

}

li {
  line-height: none; 
  border-style: none;
  color: brown;
  outline: none;
  text-decoration: none;
  padding: 20px;
  

}

.carritoCompras{
  position: relative;
  left: 1100px; 
  bottom: 200px;
  width: 40px;

  
}


/* descripcion del producto */

.itemDetail{
  max-width: 740px;
  margin-top: 10px;
}


.darkMode {

  background-color: black;
  color: gainsboro; 


}

.cardBody {
  background-color: whitesmoke;
  margin-bottom: 3px;
  text-align: center;
}

.cardBodyDark{
  background-color: hsl(0, 0%, 33%);
  margin-bottom: 3px;
  text-align: center;
}